import { memo } from 'react';

type Props = {
  className?: string;
};

const {{pascalCase name}} = ({ className = '' }: Props) => {
  return (
    <div className="{className}">{{pascalCase name}}</div>
  );
};

export default memo({{pascalCase name}});
